---
# Webhook service
apiVersion: v1
kind: Service
metadata:
  name: infra-operator-webhook-service
  namespace: iop-system
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: controller-manager
